PROXMOX_HOST=pve.example.local
PROXMOX_TOKEN_ID=monitor-user@pve!monitoring-token
PROXMOX_TOKEN_SECRET=
# PROXMOX_PORT=8006
# Nur für selbstsignierte Zertifikate auf "false" setzen
# PROXMOX_VERIFY_SSL=true
